<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Download</title>
    <link rel="stylesheet" type="text/css" href="../static/index.css" />
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="../static/download.js"></script>
  </head>

  <body>
    <div class="App">
      <h2>Tasks</h1>
      <!-- For each filename, create box (progress text, filename, link) -->
      <button id="select-all">Select All</button>
      <!--<button id="download-selected">Download Selected</button>-->
      <!--<button id="cancel-selected">Cancel Selected</button>-->
      <button id="share-selected">Share Selected</button>

      <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <p>Share link...</p>
          <input type="text" id="share-link" value="asdfasd" readonly>
        </div>
      </div>

      <div class="task-box-wrapper">
        {% for task in tasks %}
          <div class="task-box">
            <!--<button class="cancel" id="cancel_{{task.uuid}}">Cancel</button>-->
            <label for="select_{{task.uuid}}">Select:</label>
            <input type="checkbox" class="select" id="select_{{task.uuid}}">
            <p>{{ task.uuid|e }}</p>
            <p>{{ task.name|e }}</p>
            <p class="progress" id="progress_{{task.uuid}}">Processing...</p>
            <a class="download" id="download_{{task.uuid}}"
              href="/uploads/{{task.uuid}}">Download
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
