<!DOCTYPE html>
<html>
  <head>
    <title>Ant Tracking</title>
    <link rel="stylesheet" type="text/css" href="../static/index.css" />
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="../static/index.js"></script>
  </head>
  <body>
    <div class="App">
      <header class="App-header">
        <h1> Ant Tracking </h1>
        <a href="/u/" class="download" id="download_upload">Download</a>
        <form>
          <input type="checkbox" id="plotseq">Plot Sequence</input><br>
          <input type="checkbox" id="debug">Debug mode</input><br>
          <input
            id="fileinput"
            type="file"
            multiple
          />
        </form>
        <button name="upload" id="uploadbutton">Upload</button>
      </header>
    </div>
  </body>
</html>
